{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ artist.name }}</title>
</head>
<body>
    <h1>{{ artist.name }}</h1>
    <img src="{{ artist.images[0].url }}" alt="{{ artist.name }}">
    <h2>Albums</h2>
    <ul>
        {% for album in albums %}
            <li>{{ album.name }}</li>
    <a href="{% url 'artists' %}">Back to Artists</a>

        {% endfor %}
    </ul>
</body>
</html>
