{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist</title>
    <!-- Link to the React CSS files -->
    <link href="{% static 'react/static/css/main.a3654d23.css' %}" rel="stylesheet">
</head>
<body>
    <div id="root"></div>

    <!-- React JS files -->
    <script src="{% static 'react/static/js/453.71b5a4b9.chunk.js' %}"></script>
    <script src="{% static 'react/static/js/main.98344449.js' %}"></script>
</body>
</html>
